{% css %}
  {% include "style.scss" %}
{% endcss %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ title }}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width">
  <meta name="version" content="v{{ deployedAt }}+{{ commitSha }}">
  <meta name="description" content="{{ description }}">
  <link href="{% getBundleFileUrl "css" %}" rel="stylesheet">
</head>

<body>
  {{ content | safe }}
</body>

</html>
