---
layout: layout.njk
title: Association Roule Ta Bille
description: >-
  Site officiel de Roule Ta Bille, association de monocycle, à Paris et en Ile-de-France.
  Son objectif est de faire découvrir et développer la pratique du monocycle au moyen d'une
  large gamme d'activités sportives de loisirs et/ou de compétitions sur une roue unique (basket,
  hockey, athlétisme, trial, free-style, randonnée, cross-country...) et d'animations
  ludiques (jeux, spectacles, initiations, stages...)
---

<div class="top">
  <div class="rock">
    <img
      src="/assets/logo.svg"
      alt="RouleTaBille logo"
      width="100%"
      height="100%"
    />
  </div>

  <footer class="flex-table" aria-label="Two column table" style="padding-top: 10vh;">
    <div class="flex-row" role="row">
      <a href="https://www.instagram.com/rtb_monocycle" target="_blank">
        <div class="flex-cell" role="cell">
          <img
            alt="Instagram logo"
            src="/assets/Instagram_logo_2016.svg"
            width="30rem"
            height="30rem"
          />
          rtb_monocycle
        </div>
      </a>
      <a
        href="https://www.facebook.com/rouletabillemonocycleparis"
        target="_blank"
      >
        <div class="flex-cell" role="cell">
          <img
            alt="Facebook logo"
            src="/assets/2023_Facebook_icon.svg"
            width="30rem"
            height="30rem"
          />
          rouletabillemonocycleparis
        </div>
      </a>
    </div>
  </footer>
</div>
